@using Repairs.Models
@model Repairs.Models.RazorAjaxViewModel
@{
    ViewBag.Title = "Log a repair";
}

<div class="columns">
    <div class="column is-12">

        <section class="section">
            <h1 class="title">Report a repair</h1>
            <p class="subtitle">Please give us some details of the repair you would like carried out.</p>
        </section>


        <div class="card is-shady">
            <div class="card-content">
                <div class="content">

                    <div class="columns">
                        <div class="column is-6">
                            <div>Please complete</div>
                        </div>

                        <div class="column is-6">
                            @using (Ajax.BeginForm("Index", "RazorAjax", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "AjaxformId", @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">

                                    <div>
                                        <label>
                                            @Html.RadioButtonFor(m => m.SubCategory, "Agree")
                                            <a class="button"> Agree </a>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            @Html.RadioButtonFor(m => m.SubCategory, "Disagree")
                                            <a class="button"> Disagree </a>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            @Html.RadioButtonFor(m => m.SubCategory, "Not Sure")
                                            <a class="button"> Not sure </a>
                                        </label>
                                    </div>
                                    <div>@Html.ValidationMessageFor(m => m.SubCategory, "", new { @class = "text-danger custom-danger" })</div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




