<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PITCH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/6afd7c7fb7.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar is-link">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="fas fa-tools fa-3x"></i>
            </a>
            <div class="navbar-burger burger" data-target="navMenuExample3">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenuExample3" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item " href="/">
                    <h1>Diagnose Repairs</h1>
                </a>
            </div>
            <div class="navbar-end">
              
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        @*<footer class="footer">
            <div class="container">
                <div class="columns">
                    <div class="column is-3 is-offset-2">
                        <h2>
                            <strong>Category</strong>
                        </h2>
                        <ul>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </li>
                            <li>
                                <a href="#">Vestibulum errato isse</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </li>
                            <li>
                                <a href="#">Aisia caisia</a>
                            </li>
                            <li>
                                <a href="#">Murphy's law</a>
                            </li>
                            <li>
                                <a href="#">Flimsy Lavenrock</a>
                            </li>
                            <li>
                                <a href="#">Maven Mousie Lavender</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column is-3">
                        <h2>
                            <strong>Category</strong>
                        </h2>
                        <ul>
                            <li>
                                <a href="#">Labore et dolore magna aliqua</a>
                            </li>
                            <li>
                                <a href="#">Kanban airis sum eschelor</a>
                            </li>
                            <li>
                                <a href="#">Modular modern free</a>
                            </li>
                            <li>
                                <a href="#">The king of clubs</a>
                            </li>
                            <li>
                                <a href="#">The Discovery Dissipation</a>
                            </li>
                            <li>
                                <a href="#">Course Correction</a>
                            </li>
                            <li>
                                <a href="#">Better Angels</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column is-4">
                        <h2>
                            <strong>Category</strong>
                        </h2>
                        <ul>
                            <li>
                                <a href="#">Objects in space</a>
                            </li>
                            <li>
                                <a href="#">Playing cards with coyote</a>
                            </li>
                            <li>
                                <a href="#">Goodbye Yellow Brick Road</a>
                            </li>
                            <li>
                                <a href="#">The Garden of Forking Paths</a>
                            </li>
                            <li>
                                <a href="#">Future Shock</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>*@
    </div>


@*Scripts*@
@Scripts.Render("~/bundles/jquery") 
@Scripts.Render("~/bundles/jqueryval") 
<!-- Custom Form -->
@Scripts.Render("~/scripts/custom-form") 
@RenderSection("scripts", required: false) 
</body>
</html>
